<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>A</key>
    <dict>
      <Idieresis>-40</Idieresis>
      <Edieresis>-35</Edieresis>
      <s>-50</s>
      <A>-35</A>
      <S>-40</S>
      <y>-80</y>
      <x>-30</x>
      <w>-180</w>
      <v>-180</v>
      <u>-178</u>
      <t>-110</t>
      <M>-45</M>
      <quotesingle>-114</quotesingle>
      <r>-35</r>
      <q>-80</q>
      <p>-100</p>
      <o>-100</o>
      <n>-35</n>
      <m>-40</m>
      <l>-35</l>
      <k>-35</k>
      <j>-120</j>
      <i>-35</i>
      <h>-35</h>
      <g>-68</g>
      <f>-35</f>
      <e>-100</e>
      <d>-130</d>
      <c>-110</c>
      <b>-90</b>
      <Z>-35</Z>
      <Y>-210</Y>
      <X>-35</X>
      <W>-230</W>
      <V>-220</V>
      <U>-200</U>
      <T>-210</T>
      <R>-40</R>
      <Q>-110</Q>
      <P>-35</P>
      <O>-80</O>
      <N>-30</N>
      <L>-35</L>
      <K>-35</K>
      <J>-70</J>
      <I>-40</I>
      <H>-35</H>
      <G>-125</G>
      <F>-35</F>
      <E>-35</E>
      <D>-35</D>
      <C>-115</C>
      <B>-50</B>
    </dict>
    <key>AE</key>
    <dict>
      <Ccedilla>-40</Ccedilla>
    </dict>
    <key>Acircumflex</key>
    <dict>
      <C>-115</C>
      <Eacute>-50</Eacute>
    </dict>
    <key>Agrave</key>
    <dict>
      <Acircumflex>-50</Acircumflex>
      <H>-40</H>
      <parenleft>-80</parenleft>
      <hyphen>-170</hyphen>
    </dict>
    <key>B</key>
    <dict>
      <M>-50</M>
      <Eacute>-50</Eacute>
      <Eacute>-60</Eacute>
      <N>-40</N>
      <J>-10</J>
      <h>-40</h>
      <C>60</C>
      <E>-20</E>
      <i>-12</i>
      <u>-15</u>
      <a>-20</a>
      <o>-18</o>
      <r>10</r>
      <l>-30</l>
      <k>-30</k>
      <I>10</I>
      <Y>-60</Y>
      <W>-60</W>
      <V>-60</V>
      <U>-60</U>
      <R>-20</R>
      <P>-33</P>
      <O>40</O>
      <A>-80</A>
    </dict>
    <key>C</key>
    <dict>
      <U>-10</U>
      <Ocircumflex>35</Ocircumflex>
      <OE>-10</OE>
      <Y>-30</Y>
      <comma>-60</comma>
      <V>-30</V>
      <ccedilla>-20</ccedilla>
      <X>-30</X>
      <x>-10</x>
      <D>-40</D>
      <C>20</C>
      <T>-20</T>
      <H>-20</H>
      <h>-30</h>
      <l>-29</l>
      <o>-20</o>
      <e>-35</e>
      <a>-25</a>
      <E>-30</E>
      <quotesingle>60</quotesingle>
      <N>30</N>
      <L>20</L>
      <K>21</K>
      <F>10</F>
      <R>-20</R>
      <O>30</O>
      <A>-110</A>
    </dict>
    <key>Ccedilla</key>
    <dict>
      <A>-90</A>
      <T>-40</T>
      <U>-40</U>
      <Egrave>-40</Egrave>
      <Agrave>-110</Agrave>
      <O>65</O>
    </dict>
    <key>D</key>
    <dict>
      <Ocircumflex>40</Ocircumflex>
      <X>-100</X>
      <j>-50</j>
      <J>-30</J>
      <s>-20</s>
      <p>-40</p>
      <K>-90</K>
      <H>-90</H>
      <C>20</C>
      <eacute>-20</eacute>
      <e>-20</e>
      <u>-35</u>
      <i>-30</i>
      <o>-20</o>
      <comma>-30</comma>
      <period>-30</period>
      <a>-30</a>
      <S>29</S>
      <Eacute>-80</Eacute>
      <Z>-91</Z>
      <Y>-110</Y>
      <W>-70</W>
      <V>-120</V>
      <U>-70</U>
      <R>-50</R>
      <P>-70</P>
      <O>50</O>
      <N>-30</N>
      <M>-60</M>
      <L>-50</L>
      <I>-40</I>
      <F>-40</F>
      <E>-70</E>
      <D>-60</D>
      <D>-50</D>
      <A>-103</A>
    </dict>
    <key>E</key>
    <dict>
      <t>-65</t>
      <Q>-45</Q>
      <W>-45</W>
      <I>-20</I>
      <E>-40</E>
      <X>-50</X>
      <G>-50</G>
      <i>-70</i>
      <J>-40</J>
      <O>-40</O>
      <p>-110</p>
      <N>-10</N>
      <V>-40</V>
      <S>-20</S>
      <F>-50</F>
      <A>-80</A>
      <Y>-30</Y>
      <L>-20</L>
      <Z>-60</Z>
      <U>-50</U>
      <c>-50</c>
      <n>-80</n>
      <s>-50</s>
      <z>-70</z>
      <y>-110</y>
      <x>-70</x>
      <w>-110</w>
      <v>-170</v>
      <u>-120</u>
      <R>-40</R>
      <T>-45</T>
      <P>-30</P>
      <M>-25</M>
      <C>-40</C>
      <D>-40</D>
    </dict>
    <key>Eacute</key>
    <dict>
      <q>-40</q>
      <t>-65</t>
      <p>-120</p>
      <O>-40</O>
      <E>-45</E>
      <F>-40</F>
      <V>-40</V>
      <R>-30</R>
      <B>-40</B>
      <S>-25</S>
      <P>-40</P>
      <Egrave>-40</Egrave>
      <D>-30</D>
      <M>-50</M>
      <C>-50</C>
      <T>-40</T>
      <L>-30</L>
      <r>-90</r>
      <s>-50</s>
      <c>-50</c>
      <l>-35</l>
    </dict>
    <key>Ecircumflex</key>
    <dict>
      <M>-25</M>
      <N>-10</N>
      <C>-50</C>
      <V>-40</V>
      <T>-45</T>
    </dict>
    <key>Edieresis</key>
    <dict>
      <L>-20</L>
    </dict>
    <key>Egrave</key>
    <dict>
      <N>-10</N>
      <M>-25</M>
      <Ecircumflex>-40</Ecircumflex>
      <T>-50</T>
      <R>-40</R>
      <V>-40</V>
    </dict>
    <key>F</key>
    <dict>
      <L>-40</L>
      <V>-40</V>
      <d>-170</d>
      <j>-150</j>
      <D>-40</D>
      <v>-200</v>
      <I>-35</I>
      <l>-30</l>
      <E>-35</E>
      <U>-45</U>
      <R>-40</R>
      <x>-230</x>
      <y>-210</y>
      <u>-220</u>
      <t>-168</t>
      <r>-188</r>
      <o>-190</o>
      <i>-140</i>
      <e>-190</e>
      <a>-190</a>
      <comma>-120</comma>
      <period>-120</period>
      <O>-70</O>
      <G>-87</G>
      <C>-90</C>
      <A>-200</A>
    </dict>
    <key>G</key>
    <dict>
      <Ecircumflex>-130</Ecircumflex>
      <L>-98</L>
      <O>-10</O>
      <Agrave>-190</Agrave>
      <Z>-150</Z>
      <Eacute>-130</Eacute>
      <H>-120</H>
      <r>-100</r>
      <o>-40</o>
      <e>-40</e>
      <l>-110</l>
      <a>-60</a>
      <u>-90</u>
      <W>-90</W>
      <V>-120</V>
      <N>-90</N>
      <M>-90</M>
      <I>-100</I>
      <U>-130</U>
      <R>-100</R>
      <E>-130</E>
      <F>-80</F>
      <A>-175</A>
    </dict>
    <key>H</key>
    <dict>
      <Eacute>-20</Eacute>
      <T>-40</T>
      <D>-30</D>
      <M>-40</M>
      <B>-30</B>
      <F>-30</F>
      <S>-20</S>
      <Ocircumflex>-40</Ocircumflex>
      <E>-20</E>
      <I>-30</I>
      <i>-40</i>
      <a>-79</a>
      <y>-80</y>
      <u>-149</u>
      <o>-90</o>
      <e>-90</e>
      <O>-35</O>
      <U>-45</U>
      <A>-45</A>
    </dict>
    <key>I</key>
    <dict>
      <n>-20</n>
      <B>-20</B>
      <F>-15</F>
      <X>-35</X>
      <Q>-50</Q>
      <five>-20</five>
      <Y>-50</Y>
      <Z>-50</Z>
      <i>-30</i>
      <Egrave>-20</Egrave>
      <V>-40</V>
      <N>10</N>
      <J>-70</J>
      <E>-30</E>
      <L>-20</L>
      <R>-30</R>
      <M>-15</M>
      <m>-40</m>
      <A>-35</A>
      <O>-40</O>
      <x>-30</x>
      <w>-140</w>
      <v>-140</v>
      <s>-40</s>
      <r>-20</r>
      <t>-89</t>
      <o>-110</o>
      <q>-100</q>
      <d>-100</d>
      <c>-110</c>
      <T>-40</T>
      <G>-30</G>
      <C>-45</C>
      <D>-10</D>
    </dict>
    <key>Idieresis</key>
    <dict>
      <O>-40</O>
    </dict>
    <key>J</key>
    <dict>
      <Eacute>-50</Eacute>
      <P>-50</P>
      <j>-130</j>
      <q>-150</q>
      <Z>-60</Z>
      <N>-30</N>
      <K>-60</K>
      <eacute>-172</eacute>
      <comma>-130</comma>
      <period>-130</period>
      <u>-160</u>
      <o>-160</o>
      <e>-160</e>
      <a>-160</a>
      <U>-50</U>
      <I>-30</I>
      <E>-40</E>
      <O>-70</O>
      <A>-180</A>
    </dict>
    <key>K</key>
    <dict>
      <I>-20</I>
      <N>-30</N>
      <E>-40</E>
      <Z>-50</Z>
      <L>-20</L>
      <A>-85</A>
      <one>-50</one>
      <eacute>-90</eacute>
      <a>-80</a>
      <u>-150</u>
      <o>-110</o>
      <e>-117</e>
      <O>-60</O>
    </dict>
    <key>L</key>
    <dict>
      <Agrave>-90</Agrave>
      <H>-80</H>
      <h>-60</h>
      <n>-70</n>
      <S>-30</S>
      <M>-80</M>
      <Eacute>-80</Eacute>
      <R>-70</R>
      <eacute>-50</eacute>
      <a>-40</a>
      <o>-50</o>
      <e>-50</e>
      <i>-80</i>
      <y>-142</y>
      <u>-140</u>
      <I>-62</I>
      <Q>-50</Q>
      <P>-40</P>
      <A>-90</A>
      <U>-160</U>
      <O>-40</O>
      <G>-30</G>
      <Y>-190</Y>
      <W>-170</W>
      <V>-170</V>
      <T>-180</T>
      <C>-50</C>
      <quotesingle>-40</quotesingle>
      <E>-80</E>
      <L>-70</L>
      <D>-60</D>
      <B>-80</B>
    </dict>
    <key>M</key>
    <dict>
      <Ecircumflex>-25</Ecircumflex>
      <Acircumflex>-40</Acircumflex>
      <Egrave>-25</Egrave>
      <ecircumflex>-95</ecircumflex>
      <U>-40</U>
      <four>-100</four>
      <J>-90</J>
      <D>-50</D>
      <P>-30</P>
      <N>-30</N>
      <I>-25</I>
      <Y>-40</Y>
      <M>-40</M>
      <B>-20</B>
      <Eacute>-30</Eacute>
      <R>-20</R>
      <u>-150</u>
      <i>-25</i>
      <eacute>-100</eacute>
      <egrave>-100</egrave>
      <o>-120</o>
      <e>-100</e>
      <d>-100</d>
      <c>-110</c>
      <a>-60</a>
      <A>-40</A>
      <E>-25</E>
      <O>-55</O>
      <G>-30</G>
    </dict>
    <key>N</key>
    <dict>
      <comma>-80</comma>
      <U>-30</U>
      <Eacute>-30</Eacute>
      <Ccedilla>-60</Ccedilla>
      <F>-20</F>
      <Y>-20</Y>
      <eacute>-140</eacute>
      <I>-30</I>
      <M>-20</M>
      <z>-120</z>
      <K>-40</K>
      <g>-150</g>
      <N>-10</N>
      <H>-10</H>
      <E>-30</E>
      <quotesingle>30</quotesingle>
      <V>-35</V>
      <R>-30</R>
      <u>-160</u>
      <i>-110</i>
      <y>-140</y>
      <o>-168</o>
      <e>-140</e>
      <a>-140</a>
      <A>-150</A>
      <T>-30</T>
      <J>-80</J>
      <S>-40</S>
      <O>-40</O>
      <C>-60</C>
      <G>-55</G>
      <D>-10</D>
    </dict>
    <key>O</key>
    <dict>
      <Ucircumflex>-85</Ucircumflex>
      <Edieresis>-30</Edieresis>
      <quotesingle>20</quotesingle>
      <F>-45</F>
      <S>15</S>
      <O>40</O>
      <exclam>60</exclam>
      <e>20</e>
      <Z>-60</Z>
      <I>-35</I>
      <Ugrave>-55</Ugrave>
      <u>-19</u>
      <l>-70</l>
      <k>-70</k>
      <h>-70</h>
      <Y>-130</Y>
      <X>-50</X>
      <W>-95</W>
      <V>-70</V>
      <T>-80</T>
      <R>-50</R>
      <P>-80</P>
      <E>-40</E>
      <B>-50</B>
      <A>-100</A>
      <M>-50</M>
      <L>-30</L>
      <K>-30</K>
      <J>30</J>
      <N>-40</N>
      <H>-30</H>
      <G>50</G>
      <D>-50</D>
      <C>40</C>
      <U>-85</U>
    </dict>
    <key>OE</key>
    <dict>
      <U>-50</U>
      <AE>-80</AE>
    </dict>
    <key>Ocircumflex</key>
    <dict>
      <Ucircumflex>-80</Ucircumflex>
      <M>-60</M>
    </dict>
    <key>P</key>
    <dict>
      <H>-50</H>
      <Egrave>-70</Egrave>
      <T>-90</T>
      <F>-60</F>
      <m>-20</m>
      <S>-5</S>
      <Q>20</Q>
      <Eacute>-70</Eacute>
      <R>-60</R>
      <eacute>-65</eacute>
      <I>-60</I>
      <egrave>-70</egrave>
      <i>-10</i>
      <l>-85</l>
      <s>-50</s>
      <r>-20</r>
      <u>-20</u>
      <o>-70</o>
      <e>-64</e>
      <a>-60</a>
      <semicolon>40</semicolon>
      <period>-70</period>
      <comma>-40</comma>
      <Y>-70</Y>
      <U>-60</U>
      <P>-50</P>
      <P>-60</P>
      <L>-50</L>
      <E>-60</E>
      <A>-170</A>
      <O>30</O>
    </dict>
    <key>Q</key>
    <dict>
      <M>-30</M>
      <O>15</O>
      <Q>15</Q>
      <D>-30</D>
      <u>-35</u>
      <U>-80</U>
      <A>-22</A>
    </dict>
    <key>R</key>
    <dict>
      <Ecircumflex>-40</Ecircumflex>
      <Q>-130</Q>
      <f>-30</f>
      <Eacute>-50</Eacute>
      <Egrave>-40</Egrave>
      <F>-40</F>
      <R>-60</R>
      <Ccedilla>-100</Ccedilla>
      <K>-40</K>
      <N>-30</N>
      <S>-50</S>
      <L>-45</L>
      <M>-40</M>
      <A>-50</A>
      <eacute>-130</eacute>
      <o>-130</o>
      <t>-111</t>
      <u>-170</u>
      <a>-60</a>
      <i>-30</i>
      <e>-120</e>
      <d>-90</d>
      <I>-30</I>
      <P>-40</P>
      <Z>-30</Z>
      <X>-70</X>
      <W>-200</W>
      <V>-210</V>
      <U>-195</U>
      <T>-180</T>
      <Y>-200</Y>
      <C>-90</C>
      <O>-95</O>
      <G>-80</G>
      <E>-50</E>
      <D>-40</D>
      <B>-30</B>
    </dict>
    <key>S</key>
    <dict>
      <Egrave>-50</Egrave>
      <Eacute>-60</Eacute>
      <N>-39</N>
      <C>-30</C>
      <K>-60</K>
      <t>-30</t>
      <P>-50</P>
      <D>-51</D>
      <z>-40</z>
      <Y>-90</Y>
      <B>-60</B>
      <E>-50</E>
      <H>-20</H>
      <L>-35</L>
      <I>-15</I>
      <R>-18</R>
      <h>-70</h>
      <w>-90</w>
      <k>-60</k>
      <l>-43</l>
      <o>-30</o>
      <e>-30</e>
      <a>-20</a>
      <u>-71</u>
      <p>-71</p>
      <i>-50</i>
      <hyphen>20</hyphen>
      <Q>20</Q>
      <S>30</S>
      <A>-90</A>
      <O>20</O>
      <U>-50</U>
      <T>-80</T>
      <M>-30</M>
    </dict>
    <key>T</key>
    <dict>
      <Ecircumflex>-40</Ecircumflex>
      <period>-130</period>
      <D>-50</D>
      <D>-50</D>
      <g>-220</g>
      <H>-40</H>
      <Y>-40</Y>
      <F>-40</F>
      <Eacute>-45</Eacute>
      <P>-40</P>
      <eacute>-220</eacute>
      <h>-50</h>
      <y>-250</y>
      <v>-270</v>
      <w>-270</w>
      <u>-270</u>
      <s>-200</s>
      <r>-190</r>
      <o>-250</o>
      <i>-160</i>
      <e>-250</e>
      <c>-250</c>
      <a>-200</a>
      <hyphen>-130</hyphen>
      <I>-30</I>
      <E>-40</E>
      <T>-50</T>
      <U>-50</U>
      <C>-60</C>
      <S>-50</S>
      <R>-60</R>
      <O>-100</O>
      <L>-50</L>
      <A>-180</A>
    </dict>
    <key>U</key>
    <dict>
      <exclam>-30</exclam>
      <Y>-50</Y>
      <H>-40</H>
      <u>-130</u>
      <U>-60</U>
      <L>-30</L>
      <Eacute>-30</Eacute>
      <M>-45</M>
      <N>-30</N>
      <X>-50</X>
      <V>-50</V>
      <comma>-170</comma>
      <period>-170</period>
      <s>-200</s>
      <p>-180</p>
      <n>-170</n>
      <m>-170</m>
      <g>-220</g>
      <a>-200</a>
      <B>-50</B>
      <T>-45</T>
      <S>-60</S>
      <G>-80</G>
      <C>-90</C>
      <R>-50</R>
      <E>-50</E>
      <I>-40</I>
      <P>-50</P>
      <O>-60</O>
      <D>-40</D>
      <A>-200</A>
    </dict>
    <key>Ucircumflex</key>
    <dict>
      <T>-40</T>
      <Ugrave>-50</Ugrave>
    </dict>
    <key>Ugrave</key>
    <dict>
      <OE>-80</OE>
    </dict>
    <key>V</key>
    <dict>
      <Ecircumflex>-45</Ecircumflex>
      <Egrave>-40</Egrave>
      <Eacute>-30</Eacute>
      <H>-50</H>
      <nine>-90</nine>
      <v>-140</v>
      <f>-180</f>
      <W>-50</W>
      <eacute>-190</eacute>
      <T>-50</T>
      <I>-45</I>
      <comma>-200</comma>
      <period>-200</period>
      <r>-190</r>
      <u>-190</u>
      <o>-240</o>
      <i>-137</i>
      <e>-230</e>
      <a>-210</a>
      <E>-50</E>
      <S>-40</S>
      <O>-90</O>
      <G>-70</G>
      <C>-70</C>
      <R>-50</R>
      <L>-30</L>
      <A>-230</A>
    </dict>
    <key>W</key>
    <dict>
      <S>-70</S>
      <H>-30</H>
      <t>-130</t>
      <X>-60</X>
      <N>-30</N>
      <E>-45</E>
      <comma>-200</comma>
      <period>-200</period>
      <y>-180</y>
      <u>-180</u>
      <o>-240</o>
      <a>-200</a>
      <e>-230</e>
      <i>-150</i>
      <G>-70</G>
      <C>-70</C>
      <R>-30</R>
      <O>-95</O>
      <L>-30</L>
      <D>-30</D>
      <A>-230</A>
    </dict>
    <key>X</key>
    <dict>
      <X>-40</X>
      <I>-5</I>
      <hyphen>-20</hyphen>
      <P>-40</P>
      <N>-30</N>
      <Y>-60</Y>
      <u>-190</u>
      <o>-120</o>
      <i>-30</i>
      <e>-120</e>
      <a>-70</a>
      <R>-30</R>
      <O>-50</O>
      <A>-35</A>
    </dict>
    <key>Y</key>
    <dict>
      <I>-30</I>
      <M>-40</M>
      <W>-30</W>
      <Ccedilla>-130</Ccedilla>
      <Egrave>-50</Egrave>
      <F>-40</F>
      <U>-50</U>
      <V>-50</V>
      <ccedilla>-260</ccedilla>
      <T>-50</T>
      <p>-230</p>
      <E>-50</E>
      <Z>-80</Z>
      <v>-180</v>
      <o>-290</o>
      <u>-230</u>
      <a>-240</a>
      <e>-270</e>
      <d>-240</d>
      <S>-61</S>
      <O>-95</O>
      <C>-90</C>
      <A>-190</A>
      <R>-30</R>
      <D>-30</D>
    </dict>
    <key>Z</key>
    <dict>
      <j>-130</j>
      <R>-40</R>
      <D>-50</D>
      <hyphen>-10</hyphen>
      <a>-80</a>
      <A>-40</A>
      <o>-131</o>
      <O>-90</O>
    </dict>
    <key>a</key>
    <dict>
      <M>-20</M>
      <m>-15</m>
      <idieresis>-12</idieresis>
      <icircumflex>-22</icircumflex>
      <l>-15</l>
      <h>-17</h>
      <i>-12</i>
      <z>-20</z>
      <d>-15</d>
      <g>-15</g>
      <n>-15</n>
      <y>-55</y>
      <x>-20</x>
      <s>10</s>
      <r>5</r>
      <q>10</q>
      <j>-110</j>
      <b>-32</b>
      <w>-90</w>
      <v>-90</v>
      <c>-20</c>
      <u>-80</u>
      <t>-17</t>
      <p>-60</p>
    </dict>
    <key>acircumflex</key>
    <dict>
      <c>-20</c>
    </dict>
    <key>agrave</key>
    <dict>
      <ccedilla>-25</ccedilla>
      <parenright>-50</parenright>
      <acircumflex>40</acircumflex>
    </dict>
    <key>b</key>
    <dict>
      <comma>-50</comma>
      <g>-50</g>
      <n>-50</n>
      <j>-70</j>
      <s>-20</s>
      <b>-68</b>
      <y>-80</y>
      <o>-20</o>
      <a>-25</a>
      <e>-20</e>
      <i>-50</i>
      <u>-79</u>
      <r>-50</r>
      <l>-70</l>
    </dict>
    <key>c</key>
    <dict>
      <E>-50</E>
      <r>-10</r>
      <i>-20</i>
      <ocircumflex>-30</ocircumflex>
      <oe>-30</oe>
      <quotesingle>30</quotesingle>
      <a>-10</a>
      <eacute>-30</eacute>
      <w>-20</w>
      <s>11</s>
      <p>-20</p>
      <c>-39</c>
      <t>13</t>
      <u>-30</u>
      <h>-37</h>
      <l>-30</l>
      <o>-30</o>
      <e>-23</e>
      <k>-30</k>
      <h>-40</h>
    </dict>
    <key>ccedilla</key>
    <dict>
      <u>-30</u>
      <exclam>20</exclam>
      <section>20</section>
      <i>-10</i>
      <a>-20</a>
    </dict>
    <key>comma</key>
    <dict>
      <eight>20</eight>
      <c>-40</c>
      <m>20</m>
    </dict>
    <key>d</key>
    <dict>
      <k>-20</k>
      <z>-20</z>
      <D>-30</D>
      <Z>-40</Z>
      <p>-111</p>
      <m>-20</m>
      <j>-60</j>
      <I>-30</I>
      <i>-15</i>
      <edieresis>-80</edieresis>
      <ecircumflex>-80</ecircumflex>
      <egrave>-80</egrave>
      <quotesingle>-70</quotesingle>
      <eacute>-80</eacute>
      <r>-30</r>
      <w>-130</w>
      <s>-30</s>
      <h>-10</h>
      <d>-80</d>
      <o>-80</o>
      <u>-117</u>
      <y>-60</y>
      <e>-75</e>
      <a>-40</a>
    </dict>
    <key>dollar</key>
    <dict>
      <ugrave>-60</ugrave>
    </dict>
    <key>e</key>
    <dict>
      <O>35</O>
      <E>-80</E>
      <Z>-80</Z>
      <D>-60</D>
      <hyphen>20</hyphen>
      <at>41</at>
      <z>-61</z>
      <y>-70</y>
      <x>-50</x>
      <w>-80</w>
      <v>-70</v>
      <s>-10</s>
      <k>-60</k>
      <j>-80</j>
      <h>-60</h>
      <g>-40</g>
      <f>-40</f>
      <e>-15</e>
      <u>-64</u>
      <t>-20</t>
      <p>-65</p>
      <n>-30</n>
      <m>-30</m>
      <l>-50</l>
      <i>-30</i>
      <r>-35</r>
      <a>-20</a>
      <b>-50</b>
    </dict>
    <key>eacute</key>
    <dict>
      <agrave>-30</agrave>
      <a>-15</a>
      <g>-40</g>
      <u>-64</u>
      <j>-80</j>
      <s>-20</s>
      <m>-40</m>
      <n>-60</n>
      <l>-51</l>
      <p>-65</p>
      <f>-40</f>
      <v>-70</v>
      <t>-20</t>
      <r>-35</r>
      <e>-15</e>
    </dict>
    <key>ecircumflex</key>
    <dict>
      <m>-30</m>
      <n>-40</n>
      <t>-20</t>
      <l>-50</l>
    </dict>
    <key>edieresis</key>
    <dict>
      <l>-50</l>
    </dict>
    <key>egrave</key>
    <dict>
      <exclam>20</exclam>
      <l>-50</l>
      <g>-43</g>
      <p>-65</p>
      <s>-10</s>
      <t>-16</t>
      <r>-35</r>
    </dict>
    <key>eight</key>
    <dict>
      <seven>-50</seven>
      <seven>-50</seven>
      <zero>-21</zero>
      <four>-20</four>
      <one>-30</one>
      <seven>-70</seven>
      <three>-20</three>
    </dict>
    <key>exclam</key>
    <dict>
      <egrave>15</egrave>
      <section>30</section>
      <question>10</question>
    </dict>
    <key>f</key>
    <dict>
      <v>-40</v>
      <d>-70</d>
      <quotesingle>20</quotesingle>
      <Y>-30</Y>
      <N>20</N>
      <p>-30</p>
      <ecircumflex>-80</ecircumflex>
      <g>-49</g>
      <egrave>-80</egrave>
      <eacute>-80</eacute>
      <t>-31</t>
      <y>-50</y>
      <u>-40</u>
      <o>-70</o>
      <r>-30</r>
      <i>-20</i>
      <f>-40</f>
      <e>-80</e>
      <a>-50</a>
    </dict>
    <key>five</key>
    <dict>
      <B>-50</B>
      <six>30</six>
      <nine>-25</nine>
      <seven>-30</seven>
      <one>-40</one>
    </dict>
    <key>four</key>
    <dict>
      <zero>-20</zero>
      <two>10</two>
      <seven>-55</seven>
      <P>-40</P>
      <six>-20</six>
      <five>-30</five>
      <zero>-40</zero>
      <nine>-40</nine>
      <eight>-40</eight>
      <seven>-50</seven>
      <six>-30</six>
      <five>-40</five>
      <three>-60</three>
      <two>20</two>
      <one>-20</one>
      <three>-60</three>
      <one>-20</one>
    </dict>
    <key>g</key>
    <dict>
      <t>-30</t>
      <f>-20</f>
      <semicolon>-10</semicolon>
      <egrave>-60</egrave>
      <quotesingle>40</quotesingle>
      <eacute>-60</eacute>
      <ecircumflex>-60</ecircumflex>
      <s>-40</s>
      <l>-30</l>
      <h>-30</h>
      <y>-13</y>
      <r>-15</r>
      <g>-30</g>
      <n>-17</n>
      <o>-60</o>
      <u>-30</u>
      <i>-20</i>
      <e>-50</e>
      <a>-30</a>
    </dict>
    <key>h</key>
    <dict>
      <b>-80</b>
      <j>-100</j>
      <G>-90</G>
      <O>-50</O>
      <nine>-70</nine>
      <I>-20</I>
      <Y>-240</Y>
      <J>-80</J>
      <r>-10</r>
      <ocircumflex>-91</ocircumflex>
      <eacute>-79</eacute>
      <o>-70</o>
      <s>-30</s>
      <v>-160</v>
      <u>-140</u>
      <t>-75</t>
      <i>-10</i>
      <e>-80</e>
      <a>-40</a>
      <d>-60</d>
      <c>-70</c>
      <c>-70</c>
    </dict>
    <key>hyphen</key>
    <dict>
      <R>-30</R>
      <A>-30</A>
      <T>-110</T>
      <V>-90</V>
      <eacute>40</eacute>
      <o>30</o>
      <m>-50</m>
      <p>-42</p>
      <v>-50</v>
      <J>10</J>
      <C>90</C>
    </dict>
    <key>i</key>
    <dict>
      <parenright>-40</parenright>
      <agrave>-40</agrave>
      <A>-40</A>
      <N>-30</N>
      <C>-80</C>
      <ccedilla>-76</ccedilla>
      <a>-65</a>
      <f>-30</f>
      <eacute>-90</eacute>
      <egrave>-90</egrave>
      <z>-20</z>
      <y>-60</y>
      <r>-23</r>
      <m>-20</m>
      <l>-30</l>
      <k>-20</k>
      <j>-110</j>
      <x>-40</x>
      <w>-100</w>
      <n>-35</n>
      <v>-120</v>
      <q>-60</q>
      <s>-45</s>
      <u>-110</u>
      <t>-65</t>
      <p>-90</p>
      <o>-80</o>
      <c>-76</c>
      <h>-20</h>
      <g>-70</g>
      <e>-85</e>
      <d>-78</d>
      <b>-60</b>
    </dict>
    <key>icircumflex</key>
    <dict>
      <n>-35</n>
      <ocircumflex>-70</ocircumflex>
      <t>-65</t>
    </dict>
    <key>idieresis</key>
    <dict>
      <a>-70</a>
      <n>-20</n>
    </dict>
    <key>j</key>
    <dict>
      <k>-30</k>
      <b>30</b>
      <g>-40</g>
      <z>-30</z>
      <d>-20</d>
      <O>50</O>
      <f>30</f>
      <quotesingle>40</quotesingle>
      <u>-40</u>
      <y>-30</y>
      <o>-10</o>
    </dict>
    <key>k</key>
    <dict>
      <n>-20</n>
      <b>-85</b>
      <comma>-30</comma>
      <t>-80</t>
      <z>-20</z>
      <g>-60</g>
      <k>-35</k>
      <y>-59</y>
      <s>-40</s>
      <l>-20</l>
      <i>-20</i>
      <o>-80</o>
      <e>-80</e>
      <d>-70</d>
      <a>-50</a>
      <c>-82</c>
    </dict>
    <key>l</key>
    <dict>
      <ugrave>-130</ugrave>
      <J>-60</J>
      <L>-20</L>
      <agrave>-50</agrave>
      <acircumflex>-50</acircumflex>
      <i>-20</i>
      <t>-60</t>
      <t>-60</t>
      <edieresis>-75</edieresis>
      <ecircumflex>-75</ecircumflex>
      <quotesingle>-60</quotesingle>
      <egrave>-76</egrave>
      <q>-75</q>
      <eacute>-80</eacute>
      <y>-63</y>
      <w>-100</w>
      <v>-90</v>
      <p>-80</p>
      <o>-60</o>
      <u>-100</u>
      <s>-35</s>
      <l>-70</l>
      <a>-50</a>
      <k>-20</k>
      <g>-50</g>
      <e>-75</e>
      <d>-70</d>
      <c>-70</c>
      <b>-40</b>
    </dict>
    <key>m</key>
    <dict>
      <ugrave>-140</ugrave>
      <ugrave>-160</ugrave>
      <agrave>-50</agrave>
      <k>-20</k>
      <c>-80</c>
      <L>-30</L>
      <ecircumflex>-80</ecircumflex>
      <egrave>-90</egrave>
      <eacute>-80</eacute>
      <b>-80</b>
      <t>-79</t>
      <p>-100</p>
      <y>-72</y>
      <w>-150</w>
      <x>-20</x>
      <s>-20</s>
      <n>-10</n>
      <m>-70</m>
      <l>-10</l>
      <o>-90</o>
      <i>-30</i>
      <u>-130</u>
      <a>-40</a>
      <e>-80</e>
    </dict>
    <key>n</key>
    <dict>
      <m>-20</m>
      <comma>-30</comma>
      <V>-270</V>
      <z>-25</z>
      <quotesingle>-80</quotesingle>
      <ccedilla>-83</ccedilla>
      <b>-70</b>
      <i>-30</i>
      <j>-110</j>
      <n>-70</n>
      <w>-120</w>
      <eacute>-88</eacute>
      <v>-150</v>
      <c>-71</c>
      <f>-18</f>
      <d>-80</d>
      <s>-37</s>
      <p>-100</p>
      <o>-70</o>
      <u>-120</u>
      <t>-80</t>
      <a>-50</a>
      <l>-20</l>
      <g>-61</g>
      <e>-85</e>
    </dict>
    <key>nine</key>
    <dict>
      <two>10</two>
      <two>20</two>
      <U>-110</U>
      <zero>20</zero>
      <one>-40</one>
      <seven>-70</seven>
      <three>-30</three>
    </dict>
    <key>o</key>
    <dict>
      <ucircumflex>-70</ucircumflex>
      <ecircumflex>-15</ecircumflex>
      <eacute>-30</eacute>
      <D>-60</D>
      <e>-15</e>
      <I>-110</I>
      <ugrave>-70</ugrave>
      <edieresis>-15</edieresis>
      <h>-81</h>
      <u>-70</u>
      <z>-80</z>
      <y>-86</y>
      <q>-20</q>
      <x>-70</x>
      <w>-85</w>
      <v>-85</v>
      <t>-31</t>
      <p>-70</p>
      <s>-20</s>
      <r>-50</r>
      <f>-40</f>
      <o>-20</o>
      <a>-30</a>
      <n>-61</n>
      <m>-50</m>
      <l>-60</l>
      <k>-80</k>
      <j>-90</j>
      <i>-55</i>
      <g>-50</g>
      <c>-20</c>
      <b>-50</b>
    </dict>
    <key>ocircumflex</key>
    <dict>
      <m>-50</m>
      <ucircumflex>-80</ucircumflex>
      <p>-88</p>
      <t>-31</t>
      <l>-60</l>
    </dict>
    <key>oe</key>
    <dict>
      <ae>-30</ae>
      <i>-30</i>
      <u>-70</u>
    </dict>
    <key>one</key>
    <dict>
      <five>-60</five>
      <two>10</two>
      <one>-20</one>
      <e>-118</e>
      <six>-90</six>
      <five>-70</five>
      <four>-80</four>
      <three>-70</three>
      <zero>-100</zero>
      <nine>-90</nine>
      <eight>-80</eight>
      <seven>-50</seven>
      <six>-60</six>
      <five>-30</five>
      <four>-90</four>
      <three>-60</three>
      <zero>-80</zero>
    </dict>
    <key>p</key>
    <dict>
      <j>-80</j>
      <F>-80</F>
      <P>-90</P>
      <t>-20</t>
      <q>20</q>
      <ocircumflex>-20</ocircumflex>
      <egrave>-24</egrave>
      <a>-25</a>
      <o>-10</o>
      <h>-70</h>
      <eacute>-24</eacute>
      <z>-64</z>
      <x>-57</x>
      <v>-75</v>
      <m>-40</m>
      <p>-60</p>
      <s>-20</s>
      <y>-70</y>
      <r>-30</r>
      <e>-10</e>
      <u>-80</u>
      <n>-60</n>
      <l>-50</l>
      <i>-40</i>
    </dict>
    <key>parenleft</key>
    <dict>
      <T>-100</T>
      <t>-110</t>
      <exclam>-40</exclam>
      <y>-60</y>
    </dict>
    <key>parenright</key>
    <dict>
      <ccedilla>-20</ccedilla>
      <agrave>-20</agrave>
    </dict>
    <key>q</key>
    <dict>
      <P>-70</P>
      <w>-100</w>
      <y>-25</y>
      <s>-62</s>
      <l>-70</l>
      <o>-60</o>
      <a>-50</a>
      <r>-60</r>
      <u>-95</u>
      <i>-40</i>
    </dict>
    <key>quotesingle</key>
    <dict>
      <S>10</S>
      <H>20</H>
      <U>19</U>
      <M>-20</M>
      <m>-40</m>
      <A>-180</A>
      <s>-67</s>
      <e>-100</e>
      <a>-90</a>
      <eacute>-100</eacute>
    </dict>
    <key>r</key>
    <dict>
      <period>-80</period>
      <U>-130</U>
      <idieresis>-40</idieresis>
      <y>-25</y>
      <ocircumflex>-30</ocircumflex>
      <ecircumflex>-34</ecircumflex>
      <egrave>-30</egrave>
      <a>-25</a>
      <eacute>-34</eacute>
      <z>-34</z>
      <w>-30</w>
      <s>-25</s>
      <m>-20</m>
      <r>-30</r>
      <v>-30</v>
      <l>-50</l>
      <t>11</t>
      <i>-20</i>
      <u>-35</u>
      <p>-29</p>
      <o>-30</o>
      <n>-10</n>
      <k>-80</k>
      <h>-70</h>
      <g>-26</g>
      <f>-20</f>
      <e>-25</e>
      <d>-27</d>
      <c>-30</c>
      <b>-30</b>
    </dict>
    <key>s</key>
    <dict>
      <O>20</O>
      <Z>-75</Z>
      <z>-40</z>
      <two>10</two>
      <H>-90</H>
      <F>-60</F>
      <D>-80</D>
      <Q>-31</Q>
      <ucircumflex>-71</ucircumflex>
      <s>-20</s>
      <a>-19</a>
      <a>-19</a>
      <k>-50</k>
      <eacute>-30</eacute>
      <egrave>-30</egrave>
      <w>-60</w>
      <b>-37</b>
      <v>-60</v>
      <c>-20</c>
      <m>-20</m>
      <h>-50</h>
      <d>-20</d>
      <q>-25</q>
      <u>-60</u>
      <y>-46</y>
      <t>-20</t>
      <r>-30</r>
      <e>-20</e>
      <p>-40</p>
      <o>-35</o>
      <n>-30</n>
      <l>-40</l>
      <i>-40</i>
    </dict>
    <key>section</key>
    <dict>
      <egrave>-20</egrave>
      <T>-60</T>
    </dict>
    <key>seven</key>
    <dict>
      <zero>-60</zero>
      <four>-80</four>
      <eight>-40</eight>
      <zero>-70</zero>
      <zero>-60</zero>
      <D>-40</D>
      <nine>-30</nine>
      <seven>-20</seven>
      <seven>-20</seven>
      <eight>-30</eight>
      <six>-50</six>
      <four>-40</four>
      <three>-50</three>
      <one>-30</one>
      <zero>-60</zero>
    </dict>
    <key>six</key>
    <dict>
      <zero>-20</zero>
      <r>-50</r>
      <seven>-35</seven>
      <four>-20</four>
      <one>-20</one>
    </dict>
    <key>t</key>
    <dict>
      <j>-40</j>
      <f>-40</f>
      <F>-70</F>
      <P>-80</P>
      <D>-50</D>
      <ocircumflex>-50</ocircumflex>
      <egrave>-50</egrave>
      <hyphen>-50</hyphen>
      <w>-20</w>
      <r>-15</r>
      <ecircumflex>-50</ecircumflex>
      <p>-20</p>
      <eacute>-46</eacute>
      <z>-18</z>
      <v>-7</v>
      <c>-50</c>
      <u>-22</u>
      <y>-20</y>
      <t>-20</t>
      <s>-33</s>
      <o>-50</o>
      <n>10</n>
      <h>-40</h>
      <e>-50</e>
      <a>-23</a>
    </dict>
    <key>three</key>
    <dict>
      <eight>10</eight>
      <five>10</five>
      <four>15</four>
      <zero>-20</zero>
      <seven>-50</seven>
      <two>20</two>
      <two>29</two>
    </dict>
    <key>two</key>
    <dict>
      <eight>-30</eight>
      <seven>-55</seven>
      <zero>-70</zero>
      <eight>-50</eight>
      <one>-40</one>
      <O>-60</O>
      <percent>-40</percent>
      <six>-70</six>
      <five>-50</five>
      <four>-70</four>
      <three>-30</three>
      <zero>-50</zero>
      <nine>-50</nine>
      <eight>-50</eight>
      <seven>-50</seven>
      <six>-60</six>
      <five>-40</five>
      <four>-70</four>
      <three>-50</three>
      <zero>-40</zero>
    </dict>
    <key>u</key>
    <dict>
      <F>-30</F>
      <S>-30</S>
      <I>-30</I>
      <u>-120</u>
      <o>-80</o>
      <quotesingle>-50</quotesingle>
      <eacute>-67</eacute>
      <i>-20</i>
      <z>-15</z>
      <y>-60</y>
      <e>-67</e>
      <v>-110</v>
      <w>-110</w>
      <x>-20</x>
      <f>-20</f>
      <t>-73</t>
      <s>-30</s>
      <r>-20</r>
      <q>-70</q>
      <p>-81</p>
      <n>-25</n>
      <m>-30</m>
      <l>-20</l>
      <j>-90</j>
      <h>-20</h>
      <g>-50</g>
      <d>-77</d>
      <c>-66</c>
      <b>-70</b>
      <a>-40</a>
    </dict>
    <key>ucircumflex</key>
    <dict>
      <t>-70</t>
      <r>-22</r>
      <ugrave>-120</ugrave>
    </dict>
    <key>ugrave</key>
    <dict>
      <g>-50</g>
      <eacute>-80</eacute>
      <j>-100</j>
      <oe>-70</oe>
    </dict>
    <key>v</key>
    <dict>
      <h>-100</h>
      <q>-70</q>
      <B>-120</B>
      <eacute>-80</eacute>
      <w>-30</w>
      <i>-20</i>
      <x>-15</x>
      <c>-63</c>
      <l>-68</l>
      <r>-20</r>
      <e>-90</e>
      <u>-13</u>
      <s>-62</s>
      <p>-10</p>
      <o>-94</o>
      <a>-64</a>
    </dict>
    <key>w</key>
    <dict>
      <h>-88</h>
      <i>-20</i>
      <b>-50</b>
      <c>-80</c>
      <l>-94</l>
      <d>-85</d>
      <s>-60</s>
      <y>-11</y>
      <a>-80</a>
      <e>-80</e>
      <u>-15</u>
      <o>-80</o>
    </dict>
    <key>x</key>
    <dict>
      <W>-150</W>
      <p>-22</p>
      <t>-30</t>
      <b>-40</b>
      <v>-15</v>
      <d>-50</d>
      <a>-60</a>
      <e>-70</e>
      <u>-20</u>
      <o>-70</o>
    </dict>
    <key>y</key>
    <dict>
      <hyphen>-60</hyphen>
      <quotesingle>30</quotesingle>
      <z>-40</z>
      <period>-140</period>
      <eacute>-86</eacute>
      <j>-50</j>
      <n>-15</n>
      <b>-50</b>
      <c>-85</c>
      <m>-15</m>
      <l>-82</l>
      <g>-100</g>
      <q>-90</q>
      <f>-60</f>
      <r>-15</r>
      <u>-20</u>
      <o>-80</o>
      <a>-71</a>
      <e>-96</e>
      <w>-11</w>
      <t>-20</t>
      <s>-65</s>
      <p>-20</p>
      <d>-70</d>
    </dict>
    <key>z</key>
    <dict>
      <eacute>-70</eacute>
      <less>-150</less>
      <J>-70</J>
      <A>-30</A>
      <Q>-30</Q>
      <O>-21</O>
      <ugrave>-30</ugrave>
      <E>-20</E>
      <E>-30</E>
      <c>-50</c>
      <l>-20</l>
      <z>-20</z>
      <p>-30</p>
      <o>-80</o>
      <i>-20</i>
      <u>-30</u>
      <t>-30</t>
      <e>-80</e>
      <a>-40</a>
    </dict>
    <key>zero</key>
    <dict>
      <hyphen>59</hyphen>
      <nine>-20</nine>
      <seven>-80</seven>
      <ccedilla>-20</ccedilla>
      <zero>20</zero>
      <zero>20</zero>
      <one>-13</one>
      <seven>-40</seven>
      <two>10</two>
    </dict>
  </dict>
</plist>
